name: Android CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: |
        ./gradlew app:assembleFullDebug
        ./gradlew app:assembleFossDebug
    - name: Upload Full APK
      uses: actions/upload-artifact@v4
      with:
        name: bilimiao-full-debug
        path: app/build/outputs/apk/full/debug/app-full-debug.apk
        retention-days: 30
    - name: Upload FOSS APK
      uses: actions/upload-artifact@v4
      with:
        name: bilimiao-foss-debug
        path: app/build/outputs/apk/foss/debug/app-foss-debug.apk
        retention-days: 30